- set_meta_tags title: t("trip.trips")

%section
  .header{class: "#{can?(:create, Trip) ? '' : 'text-center'}"}
    %h3.d-inline= t("trip.trips")
    - if can?(:create, Trip)
      .float-end.mt-1= link_to t("trip.new"), new_trip_path, class: "btn btn-primary btn-sm"
  .body
    .row
      %div{class: Sni::Center.call(xl: 6, lg: 8, md: 10, sm: 12)}
        %table.mt-4{class: "table table-bordered table-sm"}
          %thead
            %tr
              %th= t("trip.title")
              %th= t("trip.dates")
              %th= t("user.user")
          %tbody
            = render partial: "trip", collection: @trips
