- set_meta_tags title: t("trip.trips")

%section
  .header.text-center
    %h3.d-inline= t("trip.trips")
  .body
    .row
      %div{class: Sni::Center.call(xl: 6, lg: 8, md: 10, sm: 12)}
        %table.mt-4{class: "table table-bordered table-sm"}
          %thead
            %tr
              %th= t("trip.title")
              %th= t("trip.dates")
              %th= t("user.user")
              %th.text-center= t("day.ready")
          %tbody
            = render partial: "trip", collection: @trips
  .footer.text-center
    - if can?(:create, Trip)
      = link_to t("trip.new"), new_trip_path, class: "btn btn-primary btn-sm"
