- set_meta_tags title: @day.title

%section
  .header.text-center
    %h3= @day.title
    %h5.text-muted
      - if (prev_day = day_previous(@day))
        = link_to trip_day_path(@trip, prev_day), class: "float-start small fw-normal" do
          = t('symbol.previous')
          = day_label(prev_day)
      - else
        %span.float-start.small.fw-normal.invisible
          = t('symbol.previous')
          Day 1
      - if (next_day = day_next(@day))
        = link_to trip_day_path(@trip, next_day), class: "float-end small fw-normal" do
          = day_label(next_day)
          = t('symbol.next')
      - else
        %span.float-end.small.fw-normal.invisible
          Day 1
          = t('symbol.next')
      = day_label(@day)
      = day_date(@day)
      = day_ready_badge(@day)
  .body
    - if @day.notes.present?
      .note= @day.html(guest: current_user.guest?)
  .footer
    - if can?(:edit, @day)
      = link_to t("edit"), edit_trip_day_path(@trip, @day), class: "btn btn-primary btn-sm"
    = link_to @trip.title, trip_path(@trip), class: "btn btn-success btn-sm"
