- defined?(save) || save = t("save")
- actual_object = object.is_a?(Array) ? object.last : object
- cancel_path = actual_object.new_record? ? index : (object.is_a?(Array) ? object : actual_object)
- delete_path = object.is_a?(Array) ? object : actual_object

.row
  %div{class: center}
    = form_with model: object, html: { class: "crud" } do |form|
      %section
        .header.text-center
          %h4.d-inline= title
        .body
          - inputs.each do | param, label, type, options |
            .mb-3
              = render "utils/crud/#{type}", { form: form, param: param, label: label }.merge(options || {})
        .footer
          = render "utils/crud/buttons", form: form, object: actual_object, cancel_path: cancel_path, delete_path: delete_path, save: save
