:ruby
  set_meta_tags title: t("image.images")
  lo = Sni::Layout.call(xl: [2,2], md: [3,3], xs: [4,4])
  inputs = [
    [:query,  t("image.caption"), :text,   lo[0], size: 16, placeholder: t("image.caption"), autofocus: true],
    [:type,   t("image.type"),    :select, lo[1], menu: image_type_menu(params[:type])],
  ]

%section
  .header{class: "#{can?(:create, Image) ? '' : 'text-center'}"}
    %h3.d-inline= t("image.images")
    - if can?(:create, Image)
      .float-end.mt-1= link_to t("new"), new_image_path, class: "btn btn-primary btn-sm"
  .body
    = render "utils/search/form", index: images_path, inputs: inputs
    = turbo_frame_tag :results, "data-turbo-action" => "advance" do
      %table.mt-4{class: "table table-bordered table-sm"}
        %thead
          %tr
            %th{rowspan: 3, class: "text-center align-middle"}= t("image.image")
            %th{colspan: 3, class: "text-center"}= t("image.caption")
          %tr
            %th.text-center= t("image.dimensions")
            %th.text-center= t("image.size")
            %th.text-center= t("image.type")
          %tr
            %th.text-center{title: t("image.gps")}= t("image.gps")
            %th.text-center{title: t("image.taken")}= t("image.taken")
            %th.text-center= t("image.user")
        %tbody
          - @images.matches.each do |image|
            %tr
              %td.text-center{rowspan: 3, style: "vertical-align: middle;"}
                = link_to image_path(image), "data-turbo-frame" => "_top" do
                  - if image.file.attached?
                    = image_tag url_for(image.thumbnail), alt: truncate(image.caption, length: Image::MAX_CAPTION_DISPLAY), style: "max-height: 100px;"
              %td.text-center{colspan: 3, title: image.caption}
                = truncate(image.caption, length: Image::MAX_CAPTION_DISPLAY)
            %tr
              %td.text-center= image.width && image.height ? "#{image.width}×#{image.height}" : "N/A"
              %td.text-center= image_size(image.byte_size)
              %td.text-center= image_type(image.content_type)
            %tr
              %td.text-center= image_coordinates(image.latitude, image.longitude, 0)
              %td.text-center= image_taken(image.taken, false)
              %td.text-center= image.user.name
          = render "utils/pagination/links", pager: @images, columns: 4
