%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
%meta{name: "turbo-prefetch", content: "false"}
%meta{name: "turbo-cache-control", content: "no-preview"}
- if full_reload
  %meta{name: "turbo-visit-control", content: "reload"}
= display_meta_tags site: t("title")
= csrf_meta_tags
= csp_meta_tag
= javascript_importmap_tags
= stylesheet_link_tag "application", media: "all", "data-turbo-track" => "reload"
