%nav
  .container-fluid
    = link_to root_path, class: "navbar-brand" do
      = image_tag "logo.png", width: 30, height: 30, alt: "logo"
    %button{type: "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbar"}
      %span
    #navbar.collapse.navbar-collapse
      %ul.me-auto
        - if can?(:index, Note)
          %li= link_to t("note.notes"), notes_path
        - if can?(:help, :page)
          %li= link_to t("pages.help.title"), help_path
        - if current_user.admin?
          %li.dropdown
            = link_to t("user.admin"), "#", class: "dropdown-toggle", "data-bs-toggle" => "dropdown", role: "button"
            %ul.dropdown-menu
              %li= link_to t("user.users"), users_path
              %li= link_to t("pages.env.title"), env_path
      %ul.ms-auto
        - unless %/sessions otp_secrets/.include?(controller_name)
          - if current_user.guest?
            %li= link_to t("session.sign_in"), new_session_path
          - else
            %li= link_to t("session.sign_out"), session_path, "data-turbo-method" => "delete"
