%nav
  .container-fluid
    = link_to root_path, class: "navbar-brand" do
      = image_tag "logo.png", width: 30, height: 30, alt: "logo"
    %button{type: "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbar"}
      %span
    #navbar.collapse.navbar-collapse
      %ul.me-auto
        - if can?(:index, Trip)
          %li= link_to t("trip.trips"), trips_path
        - if can?(:index, Image)
          %li= link_to t("image.images"), images_path
        - if can?(:index, User)
          %li= link_to t("user.users"), users_path
        - if can?(:help, :page)
          %li= link_to t("pages.help.title"), help_path
        - if can?(:env, :page)
          %li= link_to t("pages.env.title"), env_path
      %ul.ms-auto
        - unless %/sessions otp_secrets/.include?(controller_name)
          - if current_user.guest?
            %li= link_to t("session.sign_in"), new_session_path
          - else
            %li= link_to t("session.sign_out"), session_path, "data-turbo-method" => "delete"
